@import "tailwindcss";

@font-face {
  font-family: "Calculator";
  src:
    local("Calculator"),
    url("./static/ti-calculator-font.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
* {
  font-family: "Calculator", sans-serif;
}
