* {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  cursor: default;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline-width: 0;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

html, body {
  height: 100%;
  background-color: #223;
  color: white;
}

.looper {
  margin: auto;
}

.header {
  padding: 10px;
  display: inline-block;
  width: 100%;
}

.tempo-info {
  display: inline;
  float: left;
}

.tempo-info span {
  display: block;
  width: auto;
}

.title {
  font-size: 24pt;
  float: right;
}

.playback-toggle {
  position: relative;
}

.playback-toggle button {
  text-align: center;
  height: 50px;
  width: 60px;
  font-size: 24pt;
  cursor: pointer;
  border: none;
  transform: translateY(-3px);
  color: white;
  background-color: rgba(0, 0, 0, 0);
}

.tempo-slider {
  width: 150px;
  border: solid 2px blue;
  cursor: pointer;
}

.melody-grid-container {
  width: max-content;
  margin: auto;
  background-color: #282838;
  border-radius: 5px;
}

.grid {
}

.grid table {
  margin: auto;
  padding: 10px 7px;
}

.grid-button, .clear-button, .view-button {
  height: 30px;
  width: 25px;
  border: none;
  cursor: pointer;
  margin: 2px;
  border-radius: 3px;
  transform: translateY(-3px);
}

.melody-grid .grid-button.on, .melody-view-button {
  box-shadow: 0 3px #268;
  background-color: #8ac;
}

.grid-button.off {
  box-shadow: 0 3px #444;
  background-color: #888;
}

.grid-button:active, .clear-button:active, .view-button:active {
  transform: translateY(0px);
  box-shadow: none;
}

.grid-button.off.beat {
  background-color: #aaa;
}

.melody-grid .grid-button.on.active {
  background-color: #bdf;
  box-shadow: 0 3px #59b,
              0 1.5px 15px #bdf;
}

.view-switcher {
  width: max-content;
  margin: auto;
  text-align: center;
  background-color: #282838;
  padding: 15px 7px 0px 7px;
  border-radius: 7px 7px 0px 0px;
}

.view-button {
  margin: 0 4px;
}

.clear-button {
  font-size: 14pt;
  padding: 0;
  color: #844;
  text-align: center;
  box-shadow: 0 3px #844;
  background-color: #c99;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
