* {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  cursor: default;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline-width: 0;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

html, body {
  height: 100%;
  background-color: #223;
  color: white;
}

.looper {
  padding: 25px;
  margin: auto;
}

.title {
  font-size: 36pt;
}

.playback-toggle {
  position: fixed;
  left: 50%;
  margin-left: -25px;
}

.playback-toggle button {
  text-align: center;
  height: 50px;
  width: 60px;
  font-size: 12pt;
  cursor: pointer;
  border-radius: 3px;
  border: none;
  transform: translateY(-3px);
  color: #333;
  box-shadow: 0 3px #666;
  background-color: #aaa;
}

.playback-toggle button:active {
  transform: translateY(0px);
  box-shadow: none;
}

.tempo-slider {
  width: 200px;
  border: solid 2px blue;
  cursor: pointer;
}

.melody-grid-container {
}

.grid {
}

.grid table {
  margin: auto;
  padding: 15px;
}

.grid-button, .clear-button {
  height: 30px;
  width: 25px;
  border: none;
  cursor: pointer;
  margin: 2px;
  border-radius: 3px;
  transform: translateY(-3px);
}

.grid-button.on {
  box-shadow: 0 3px #268,
              0 1.5px 15px #268;
  background-color: #8ac;
}

.grid-button.off {
  box-shadow: 0 3px #444;
  background-color: #888;
}

.grid-button:active, .clear-button:active {
  transform: translateY(0px);
  box-shadow: none;
}

.clear-button {
  font-size: 14pt;
  padding: 0;
  color: #844;
  text-align: center;
  box-shadow: 0 3px #844;
  background-color: #c99;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
